<form class="ml-3 col-6" [formGroup]="addDeviceForm" (ngSubmit)="submitForm()">
  <div class="form-group">
    <div class="input-group mb-2">
      <input type="text" class="form-control" id="deviceName" formControlName="deviceName" placeholder="Název zařízení">
    </div>
  </div>
  <div class="form-group">
    <div class="input-group mb-2">
      <input type="text" class="form-control" id="ip" formControlName="ip" placeholder="Ip adresa">
    </div>
    <small class="form-text text-muted">Např. 127.0.0.0</small>
  </div>
  <div class="form-group">
    <div class="input-group mb-2">
      <input type="number" class="form-control" id="port" formControlName="port" placeholder="Port">
    </div>
  </div>
  <div class="form-group">
    <div class="input-group mb-2">
      <input type="text" class="form-control" id="comServIp" formControlName="comServIp" placeholder="ComServIp">
    </div>
  </div>
  <div class="form-group">
    <div class="input-group mb-2">
      <input type="number" class="form-control" id="comServPort" formControlName="comServPort" placeholder="ComServPort">
    </div>
  </div>
  <div class="form-group">
    <div class="input-group mb-2">
      <input type="number" class="form-control" id="latitude" formControlName="latitude" placeholder="Latitude">
    </div>
  </div>
  <div class="form-group">
    <div class="input-group mb-2">
      <input type="number" class="form-control" id="longitude" formControlName="longitude" placeholder="Longitude">
    </div>
  </div>
  <div class="form-group">
    <div class="input-group mb-2">
      <input type="text" class="form-control" id="address" formControlName="address" placeholder="Adresa">
    </div>
  </div>
  <div class="form-group">
    <div class="input-group mb-2">
      <textarea type="text" class="form-control" id="description" formControlName="description" placeholder="Popis"></textarea>
    </div>
  </div>
  <div class="form-group">
    <h3>Moduly:</h3>
    <div class="input-group mb-2" *ngFor="let module of moduleData">
      <label>
        <input type="checkbox" value="{{module.moduleId}}"> {{module.name}}
      </label>
    </div>
    <div class="btn btn-link"
            (click)="setActiveContent('_module', '_add')">
      + Přidat modul
    </div>
  </div>

  <div class="form-group">
    <select (click)="selectChangeHandler($event)" class="form-control" id="connection" required>
      <option value=""> - Připojení -</option>
      <option value="lora"> LoRa</option>"
      <option value="wifi"> Wifi</option>"
    </select>
  </div>

  <span *ngIf="connectionOption==='wifi'">
    <small class="form-text text-muted">Bude vygenerován soubor ke stažení</small>
  </span>
  <div class="form-group" *ngIf="connectionOption==='lora'">
    <div class="input-group mb-2">
      <input type="text" class="form-control" id="loRaGateway" placeholder="LoRa Gateway">
    </div>
    <small class="form-text text-muted">např. https://console.thethingsnetwork.org/gateways/..</small>
  </div>
  <button type="submit" class="mt-3 btn btn-success">Přidat zařízení</button>
</form>
