<table class="table" *ngIf="deviceData">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Adresa</th>
    <th scope="col">Moduly</th>
    <th scope="col">Aktivní</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let device of deviceData">
    <th scope="row">{{device.deviceId}}</th>
    <td>{{device.device_location}}</td>
    <td *ngIf="!device.module">
      <div *ngFor="let module of device.module">
        <a href="#">{{module.name}}</a><br>
      </div>
    </td>
    <td *ngIf="device.module">
      <div>Žádné moduly</div>
    </td>
    <td>1</td>
    <td>
      <div class="btn btn-danger mr-3">smazat</div>
      <div class="btn btn-primary" (click)="setActiveContent('_update', device.deviceId)">upravit</div>
    </td>
  </tr>
  </tbody>
</table>
<div *ngIf="!deviceData">
  <p>
    Žádne data k dispozici
  </p>
</div>
