<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Jméno</th>
    <th scope="col">Nick</th>
    <th scope="col">Email</th>
    <th scope="col">Admin</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>Patrik</td>
    <td><a href="#">Patkol</a></td>
    <td><a href="#">p.kolinko95@gmail.com</a></td>
    <td>1</td>
    <td>
      <div class="btn btn-danger mr-3">smazat</div>
      <div (click)="setActiveContent('_update')" class="btn btn-primary">upravit</div>
    </td>
  </tr>
  <tr>
    <th scope="row">1</th>
    <td>David</td>
    <td><a href="#">svrca</a></td>
    <td><a href="#">david.svrcina@gmail.com</a></td>
    <td>0</td>
    <td>
      <div class="btn btn-danger mr-3">smazat</div>
      <div class="btn btn-primary">upravit</div>
    </td>
  </tr>
  </tbody>
</table>
