<header>
  <nav class="navbar bg-primary">
    <h1 class="text-uppercase text-white">admin</h1>
  </nav>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li (click)="setActiveContent('device')" class="breadcrumb-item"><a href="#">Admin</a></li>
      <li (click)="setActiveContentWithoutAction()" class="breadcrumb-item" aria-current="page"><a
        href="#">{{ActiveContentTitle}}</a></li>
      <li *ngIf="ActiveContentPostTitle!=''" class="breadcrumb-item"><a
        href="#">{{ActiveContentPostTitle}}</a></li>
    </ol>
  </nav>
</header>
<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <div class="bg-light border-right">
        <div id="menu" class="cursor-pointer list-group list-group-flush">
          <a *ngIf="ActiveContent.includes('users')" (click)="setActiveContent('users')"
             class="list-group-item list-group-item-action text-white bg-primary">Uživatelé</a>
          <a *ngIf="!ActiveContent.includes('users')" (click)="setActiveContent('users')"
             class="list-group-item list-group-item-action bg-light">Uživatelé</a>

          <a *ngIf="ActiveContent.includes('device')" (click)="setActiveContent('device')"
             class="list-group-item list-group-item-action text-white bg-primary">Zařízení</a>
          <a *ngIf="!ActiveContent.includes('device')" (click)="setActiveContent('device')"
             class="list-group-item list-group-item-action bg-light">Zařízení</a>

          <a *ngIf="ActiveContent.includes('_module')" (click)="setActiveContent('_module')"
             class="list-group-item list-group-item-action text-white bg-primary">Moduly</a>
          <a *ngIf="!ActiveContent.includes('_module')" (click)="setActiveContent('_module')"
             class="list-group-item list-group-item-action bg-light">Moduly</a>
          <a *ngIf="ActiveContent.includes('module_type')" (click)="setActiveContent('module_type')"
             class="list-group-item list-group-item-action text-white bg-primary">Typy
            modulů</a>
          <a *ngIf="!ActiveContent.includes('module_type')" (click)="setActiveContent('module_type')"
             class="list-group-item list-group-item-action bg-light">Typy
            modulů</a>
          <a *ngIf="ActiveContent.includes('envi')" (click)="setActiveContent('envi')"
             class="list-group-item list-group-item-action text-white bg-primary">EnviTech</a>
          <a *ngIf="!ActiveContent.includes('envi')" (click)="setActiveContent('envi')"
             class="list-group-item list-group-item-action bg-light">EnviTech</a>
        </div>
      </div>
    </div>
    <div class="col-10">
      <div class="jumbotron-fluid border-light border">
        <div class="m-3 p-3">
          <div class="row">
            <div class="col-10">
              <div *ngIf="ActiveContentPostTitle != ''">
                <h2>{{ActiveContentPostTitle}}</h2>
              </div>
              <div *ng="ActiveContentPostTitle === ''">
                <h2>{{ActiveContentTitle}}</h2>
              </div>
            </div>
            <div class="col-2">
              <button *ngIf="ActiveContentPostTitle ==''" class="btn btn-success"
                      (click)="setActiveContent(ActiveContent + '_add')">
                + Přidat
              </button>
            </div>
          </div>
        </div>
        <div *ngIf="ActiveContent == 'users'">
          <div>
            <app-user-list (messageEvent)="receiveMessage($event)"></app-user-list>
          </div>
        </div>
        <div *ngIf="ActiveContent == 'device'">
          <app-device-list (messageEvent)="receiveMessage($event)"></app-device-list>
        </div>
        <div *ngIf="ActiveContent == '_module'">
          <app-module-list (messageEvent)="receiveMessage($event)"></app-module-list>
        </div>
        <div *ngIf="ActiveContent == 'module_type'">
          <app-module-type-list (messageEvent)="receiveMessage($event)"></app-module-type-list>
        </div>
        <div *ngIf="ActiveContent == 'envi'">
          <app-envi-list (messageEvent)="receiveMessage($event)"></app-envi-list>
        </div>
        <div *ngIf="ActiveContent == 'users_add'">
          <app-add-user></app-add-user>
        </div>
        <div *ngIf="ActiveContent == 'device_add'">
          <app-add-device (messageEvent)="receiveMessage($event)"></app-add-device>
        </div>
        <div *ngIf="ActiveContent == '_module_add'">
          <app-add-module (messageEvent)="receiveMessage($event)"></app-add-module>
        </div>
        <div *ngIf="ActiveContent == 'module_type_add'">
          <app-add-module-type (messageEvent)="receiveMessage($event)"></app-add-module-type>
        </div>
        <div *ngIf="ActiveContent == 'users_update'">
          <app-update-user></app-update-user>
        </div>
        <div *ngIf="ActiveContent == 'device_update'">
          <app-update-device [activeDeviceId]=ActiveObjectId
                             (messageEvent)="receiveMessage($event)"></app-update-device>
        </div>
        <div *ngIf="ActiveContent == '_module_update'">
          <app-update-module [activeModuleId]=ActiveObjectId
                             (messageEvent)="receiveMessage($event)"></app-update-module>
        </div>
        <div *ngIf="ActiveContent == 'module_type_update'">
          <app-update-module-type [activeModuleTypeId]=ActiveObjectId
                                  (messageEvent)="receiveMessage($event)"></app-update-module-type>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
