<form class="ml-3 col-6">
  <div class="form-group">
    <div class="input-group mb-2">
      <input type="text" class="form-control" id="Name" placeholder="Název modulu">
    </div>
  </div>
  <div class="form-group">
    <select class="form-control" id="ModuleTypeID" required>
      <option *ngFor="let moduleType of moduleTypeData">{{moduleType.name}}</option>
    </select>
  </div>
  <div class="form-group">
    <div class="input-group mb-2">
      <textarea type="text" class="form-control" id="Description" placeholder="Popis"></textarea>
    </div>
  </div>
  <button type="submit" class="mt-3 btn btn-success">Přidat modul</button>
</form>
