<table class="table" *ngIf="moduleTypeData">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Název typu</th>
    <th scope="col">Výrobce</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let moduleType of moduleTypeData">
    <th scope="row">{{moduleType.moduleTypeId}}</th>
    <td>{{moduleType.name}}</td>
    <td><a href="#"
           (click)="setActiveContent('maker', '_update', moduleType.maker.makerId)">{{moduleType.maker.name}}</a></td>
    <td>
      <div class="btn btn-danger mr-3" (click)="deleteById(moduleType.moduleTypeId)">smazat</div>
      <div class="btn btn-primary" (click)="setActiveContent('module_type', '_update', moduleType.moduleTypeId)">
        upravit
      </div>
    </td>
  </tr>
  </tbody>
</table>
<div *ngIf="!moduleTypeData">
  <p>
    Žádne data k dispozici
  </p>
</div>
