<table class="table" *ngIf="moduleData">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Název</th>
    <th scope="col">Typ modulu</th>
    <th scope="col">Zařízení</th>
    <th scope="col"></th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let module of moduleData">
    <th scope="row">{{module.moduleId}}</th>
    <td>{{module.name}}</td>
    <td><a href="#" (click)="setActiveContent('_update', 'module_type', module.moduleId)">
      {{module.moduleType.name}}</a>
    </td>
    <td><a href="#" (click)="setActiveContent('_update', 'device', module.device.deviceId)">
      {{module.device.deviceName}}</a>
    </td>
    <td>
      <div class="btn btn-danger mr-3" (click)="deleteById(module.moduleId)">smazat</div>
      <div class="btn btn-primary" (click)="setActiveContent('_update', '_module', module.moduleId)">upravit</div>
    </td>
  </tr>
  </tbody>
</table>
<div *ngIf="!moduleData">
  <p>
    Žádne data k dispozici
  </p>
</div>
